.banner-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
     background-image: linear-gradient(0deg, rgba(10, 63, 28, 0.6), rgba(42, 74, 108, 0.6)),url('../Image/Banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.banner-main{
    width:80%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.banner-page:first-child{
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-page:last-child{
    /* flex: 30%; */
    background: rgba(203, 203, 203, 0.5);
        opacity:3;
    border: 1px solid rgba(184, 183, 183, 0.5);
    /* backdrop-filter: blur(1px); */
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15px);
    border-radius: 20px;
    filter: brightness(1);
}
.banner-pageTitle{
    /* width: 100%; */
    margin: 10px;
    padding: 10px;
    color: #ffffff;
}
.banner-pageTitle>h2{
    line-height: 54px;
    font-size: 40px;
}
.banner-search{
    /* min-width: 400px; */
    height: auto;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    opacity: 1;
    border-radius: 20px;
    padding:2.5rem;
}
.banner-searchPara{
    /* margin: 10px; */
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left !important;
}
.banner-searchPara>p{
    margin-bottom: 0px !important;
}
.banner-searchPara strong{
    color: #103E35;
}
.banner-select{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-select select{
    width: 100%;
    margin: 20px;
    padding: 15px 10px;
    border-radius: 5px;
    letter-spacing: 2px;
    border: none;
    outline: none;
    
}
.banner-select option{
    background-color: #103E35;
    color: #ffffff;
    font-size: 14px;
}
.banner-search button{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
    background-color:#103E35;
    color: #ffffff;
    cursor: pointer;
}

/* ----------Listbanner------------ */
.Listbanner-container{
    background-image: linear-gradient(0deg, rgba(10, 63, 28, 0.6), rgba(42, 74, 108, 0.6)),url('../Image/ListBanner.png');
    width: 100%;
    min-height:60vh;
    max-height: auto;
    display: flex;
    justify-content:center ;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
.ListBanner-pageTitle{
    max-width: 400px;
    color:#ffffff;
    text-align: center;
}
.ListBanner-button{
    font-size: 20px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}
.ListBanner-button button{
    border: none;
    outline: none;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    color: #103E35;
}


/* ------------Listbanner------------ */



/* ------------Listbrowser---------------- */
.browserMain{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}
.browser-searchPara{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.browser-select{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.browser-select select{
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 2px;
    border: none;
    outline: none;
    background-color: #F2F2F2;
}
.browser-select button{
    border: none;
    outline: none;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    color: #103E35;
    background-color: #F2F2F2;

}
/* --------------Listbrowser------------- */


@media (max-width:900px) {
    .banner-container{
        height: auto;
    }
    .banner-main{
        flex-direction: column;
    }
    .banner-select{
        flex-direction: row;
    }
    .banner-page:last-child{
        border-radius:0px;
    }
     
    .banner-select option{
        /* background-color: #103E35; */
        color: #ffffff;
        font-size: 10px;
    }
    .banner-pageTitle>h2{
        font-size: 30px;
    }

}
@media (max-width:450px) {

    .banner-searchPara{
        font-size: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .banner-pageTitle>h2{
        line-height:30px !important;
        font-size: 16px !important;
        letter-spacing: 1px !important;
    }
    .banner-select{
        flex-direction:column;

    }
    .banner-select select{
        width: 100%;
        margin: 20px;
        padding: 10px 10px;
        border-radius: 5px;
        letter-spacing: 2px;
        border: none;
        outline: none;
        
    }
    .banner-select option{
        /* background-color: #103E35; */    
        color: #ffffff;
        font-size: 10px;
    }
    .banner-page:last-child{
        border-radius:5px;
    }
    .banner-search{
        min-width: 300px;
        height:280px;
    }
    .banner-main{
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .banner-searchPara{
        font-size: 18px;
    }
    .banner-search>button{
        width: 40%;

    }
    .banner-pageTitle>h2{
        letter-spacing:5px;
        line-height:30px;
        text-indent: 5px;
        font-size: 20px;
        color: #ffffff;
    }
/* -------------------------------- */
    .ListBanner-pageTitle{
    max-width: 330px;
    color:#ffffff;
    text-align: center;
    }
    .ListBanner-pageTitle h2{
            font-size: 20px;
    }
    .ListBanner-button button{
     padding: 5px 10px !important;
    }
/* ---------------------------------- */
.browser-searchPara strong{
  font-size: 15px;
}
.browser-select select{
    width: 100%;
    margin: 7px;
    padding: 5px;
    border-radius: 5px;
    letter-spacing: 2px;
    border: none;
    outline: none;
    background-color: #F2F2F2;
    font-size: 13px;
}
.browser-select option{
    background-color:rebeccapurple;
    color: #ffffff;
    font-size: 10px;
}
.browser-select button{
    padding:2px 10px;
    border-radius: 5px;

}
}
@media (max-width:325px) {
    .banner-pageTitle>h2{
        font-size: 20px;
    }
    .banner-search{
        height: auto;
    }
    .banner-search button{
        font-size: 12px;
    }


    .banner-searchPara>p{
        font-size: 15px;
    }

    .banner-pageTitle>h2{
        line-height:30px;
        font-size: 13px;
    }

}