.Header-main{
    width: 100%;
    background-color:#103E35;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.Header-main img{
    width: 60%;
    height: auto;
    display: none;
}
.Header-content{
    display: flex;
    margin:5px;
    justify-content: center;
    align-items: center;
}
.Header-content>div{
    margin-right: 19px;
    font-weight: 500;
}
.Header-page{
    padding: 10px;
    border-radius: 10px;
}
.Header-page:hover{
    background-color: #ffffff;
    color:black;
}
.navbar{
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
}
.navbar-nav{
    width: 100% !important;
    display: flex !important;
    align-items:flex-end !important;

    justify-content:flex-end !important;
}

.navbar-expand{
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-evenly !important;
    }
.navbar-brand{
    color: #fff !important;
}
.me-auto>.nav-link{
    color: #fff ;
    margin-right: 20px !important;
    display: flex !important;
    justify-content:flex-end !important;
    align-items: center !important;
    height:30px;
    border-radius: 5px;
    width: 100%;
}
.nav-link:hover{
    background-color: #ffffff !important;
    color: #103E35 !important;
    border-radius: 5px;
}
.navbar-collapse {
    flex-grow: 0 !important;
}

@media (max-width:990px) {

    .Header-main img{
        width: 60%;
    height: auto;
    display:block !important;
    }
    .nav-link:hover{
        background-color:#103E35 !important;
        color: #ffffff !important;
    }
    .nav-link svg{
        display: none               ;
    }
    .navImg{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .navbar-toggler:focus {
        box-shadow: none !important;

    }
    .navbar-toggler-icon{
        color: #ffffff !important;
    }
}


