.Header-main{
    width: 100%;
    background-color:#103E35;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.Header-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #ffffff; 
    font-family: 'Poppins', sans-serif; 

}
.Header-content{
    display: flex;
    margin:5px;
    justify-content: center;
    align-items: center;
}
.Header-content>div{
    margin-right: 19px;
    font-weight: 500;
}
.Header-page{
    padding: 10px;
    border-radius: 10px;
}
.Header-page:hover{
    background-color: #ffffff;
    color:black;
}
.navbar{
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
}
.navbar-nav{
    width: 100% !important;
    display: flex !important;
    align-items:right !important;

    justify-content:flex-end !important;
}

.navbar-expand{
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-evenly !important;
    }
.navbar-brand{
    color: #fff !important;
}
.me-auto>.nav-link{
    color: #fff ;
    margin-right: 20px !important;
    display: flex !important;
    justify-content:flex-end !important;
    align-items: center !important;
    height:30px;
    border-radius: 5px;


}
.nav-link:hover{
    background-color: #ffffff !important;
    color: #103E35 !important;
    border-radius: 5px;
}
/* div#responive-navbar-nav .navbar-collapse.collapse.show{
    background-color: linear-gradient(180deg, #5EC193 13.4%, #4E9587 98.43%);;

} */
.navbar-collapse{
    background: linear-gradient(180deg, #5EC193 13.4%, #4E9587 98.43%);
    /* transform: rotate(90deg); */
}
#responsive-navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Header-main img{
    width: 60%;
    height: auto;
}