.treatment-container{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.treatment-main{
     padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    font-family: 'Poppins', sans-serif; 

}
.treatment-header:first-child{
    flex:20%;
    
}
.headingTitle{
    flex-wrap: nowrap;
     width: 100%;
     display: flex;
}
.Tab-headingTitle{
    width: 100%;
    display: flex;
    justify-content: center ;
}


.treatment-title{
    margin: 10px; 
    font-size: 18px;
    font-weight: 900px;
    color: #8A8A8A;
}
.treatment-title:active{
    color:#103E35;
}
.treatment-title:hover{
    border-bottom: 2px solid #103E35;
    color: #103E35;
}
.treatment-header:last-child{
    flex:80%;
}
.treatment-header button{
    display: none;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #103E35;
}

.headingTitleBox{
     flex-wrap: nowrap;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.treatment-headerBox{
    width: 80%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.treatment-headerMain{
    padding: 10px;
    max-width:350px;
    height:350px;
    margin:1rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start  ;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.treatment-Content>h3{
    font-size: 20px;
    color: #103E35;
}
.treatment-Content>h6{
    font-size: 13px;
    color: #444444;
}
.treatment-Content>p{
    font-size: 12px;
    color: #444444;
}
.treatment-image{
    width: 320px;
    height: 300px;
    position: relative;
}
.treatment-image>img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.treatment-button{
    width: 250px;
    height:auto;
    border:none;
    outline: none;
    border-radius: 10px;
    background-color: #103E35;
    color: #ffffff;
    font-size: 22px;
    padding: 10px;
    font-weight: 600;
}
.treatment-icon{
        width: 100px;
    font-size:40px;
}
.treatment-Content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

@media (max-width:900px){
    .treatment-headerBox{
        width: 100%;
    }
    
    .treatment-image>img{
                width:240px;
                height: auto;
    }
    .treatment-headerMain{
        padding: 10px;
        max-width:260px; 
        justify-content:flex-start;
        align-items: center;
        height:320px;
    }
    .treatment-Content>h3{
        font-size: 16px;
        color: #103E35;
    }
    .treatment-Content>h6{
        font-size: 12px;
        color: #444444;
    }
   .treatment-Content>p{
        font-size: 12px;
        color: #444444;
    }
    .treatment-title{
        font-size: 15px;
    }
}

@media (max-width:600px){

    .treatment-header button{
        display:block;
        width: 100px;
        padding: 8px;
        font-size: 10px;
    }
  .treatment-title{
    font-size: 10px !important;
  }
    .Tab-headingTitle{
        overflow-x:auto;
        white-space: nowrap;
        justify-content: flex-start;

    }
    .treatment-mainTitle{
        width: 100%;
        display: flex;
        margin-left: 15px;
    
    }
    .treatment-mainTitle>h1{
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        color: #103E35;
        }
        .treatment-title{
            font-size: 15px ;
            font-weight: 600;
        }
    .treatment-headerBox{
        justify-content: flex-start;
        flex-wrap:nowrap;

    }
    .headingTitleBox{
        overflow-x:auto;
        justify-content: flex-start;

    }
    .treatment-image{
        width:150px;
        height: 180px;
        position: relative;
    }

    .treatment-headerMain{
        padding: 10px;
        max-width:auto;
        height:200px;
    }
    .treatment-Content>h3{
        font-size: 10px;
        color: #103E35;
    }
    .treatment-Content>h6{
        font-size: 8px;
        color: #444444;
    }
    .treatment-Content>p{
        font-size: 8px;
        color: #444444;
    }
    .treatment-button{
        display: none;
    }
}
